/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * railroadink implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * railroadink.css
 *
 * railroadink stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (railroadink_railroadink.tpl), and to HTML elements you create dynamically
    (in railroadink.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

#page-content.game-content {
  zoom: inherit !important;
}

html {
  background-image: none;
  background-color: #7eb5dc;
}

html.red-edition {
  background-color: #e39278;
}

.banner {
  background-image: url('img/background_blue.png');
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: calc(100%*0.087);
}

html.red-edition .banner {
  background-image: url('img/background_red.png');
}

.player-board {
    background-color: #bfdef9;
}

#page-title {
    background-color: #bfdef9 !important;
}

html.red-edition .player-board {
    background-color: #edb7a0;
}

html.red-edition #page-title {
  background-color: #edb7a0 !important;
}

#page-content.game-content {
  zoom: inherit !important;
}

.field {
  position: absolute;
  height: 8.57%;
  width: 12.86%;
}

.field.available {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.field.available.target {
  background-color: rgba(184, 68, 53, 0.5);
  cursor: pointer;
}

.field .route {
  transition: transform 0.3s ease-in-out, ease-in-out opacity 300ms;
  background-size: 300%;
  width: 100%;
  height: 100%;
}

.field .route.set {
  background-image: url('img/routes.png');
}

#all-players{
  display: flex;
  flex-direction: column;
}

#all-players.player-count-2{
  flex-direction: row;
  justify-content: space-around;
}

.player-sheet-wrapper {
  background-color: green;
  height: 0;
  width: calc(90vh / 1.5);
  padding-top: 149%;
  position: relative;
  transition: ease-in-out width 500ms;
  border-radius: 7px;
}

.player-sheet-wrapper.idle{
  width: calc(92vh / 1.5);
}

.player-sheet-wrapper-conteiner{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-sheet {
  position: relative;
  height: 0;
  width: calc(90vh / 1.5);
  padding-top: 90vh;
  background-image: url(img/board_blue.jpg);
  background-size: cover;
  border-radius: 7px;
}

.edition-red .player-sheet {
  background-image: url(img/board_red.jpg);
}

.player-sheet.score-highlight .route {
  opacity: 0.3;
}

.player-sheet.score-highlight .field .route.current-route {
  filter: none;
}

.player-sheet.score-highlight-highway .route.longest-highway,
.player-sheet.score-highlight-railroad .route.longest-railroad,
.player-sheet.score-highlight-special .route.special,
.player-sheet.score-highlight-total .route.total,
.player-sheet.score-highlight-errors .route.score-mistake,
.player-sheet.score-highlight-central .route.central {
  opacity: 1;
}

.player-sheet.score-highlight-exits .route.exits-0 {
  opacity: 1;
  background-color: rgba(103, 60, 79, 0.3);
}

.player-sheet.score-highlight-exits .route.exits-1 {
  opacity: 1;
  background-color: rgba(221, 174, 126, 0.3);
}

.player-sheet.score-highlight-exits .route.exits-2 {
  opacity: 1;
  background-color: rgba(127, 182, 133, 0.3);
}

.player-sheet.score-highlight-exits .route.exits-3 {
  opacity: 1;
  background-color: rgba(239, 111, 108, 0.3);
}
.player-sheet.score-highlight-exits .route.exits-4 {
  opacity: 1;
  background-color: rgba(80, 81, 79, 0.3);
}

.player-sheet.score-highlight-exits .route.exits-5 {
  opacity: 1;
  background-color: rgba(43, 151, 196, 0.3);
}

.player-sheet.score-highlight-railroad .route.longest-railroad {
  opacity: 1;
}

.player-sheets.red .player-sheet {
  background-image: url(img/boards_red.jpg);
}

.player-sheets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player-area:nth-child(1) .player-sheet {
  background-position: -20% 0;
}
.player-area:nth-child(2) .player-sheet {
  background-position: 40% 0;
}
.player-area:nth-child(3) .player-sheet {
  background-position: 60% 0;
} 
.player-area:nth-child(4) .player-sheet {
  background-position: 80% 0;
}
.player-area:nth-child(5) .player-sheet {
  background-position: 100% 0;
}

#dice {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.die {
  background-color: white;
  height: 10vh;
  width: 10vh;
  margin-top: 3vh;
  border-radius: 0.7vh;
  background-image: url(img/dice.png);
  background-size: 300%;
  filter: drop-shadow(2px 4px 6px black);
}

.die.die-type-2 {
  background-color: #3284c1;
}

.die.die-type-3 {
  background-color: #b1d6e8;
}

.die.die-type-4 {
  background-color: #db962e;
}

.die.die-type-5 {
  background-color: #b84435;
}

.die.route-0 {
  background-position: 50% 0;
}
.die.route-1 {
  background-position: 100% 0;
}
.die.route-2 {
  background-position: 0 0;
}
.die.route-3 {
  background-position: 50% 10%;
}
.die.route-4 {
  background-position: 100% 10%;
}
.die.route-5 {
  background-position: 0 10%;
}
.die.route-6 {
  background-position: 0 20%;
}
.die.route-7 {
  background-position: 100% 20%;
}
.die.route-8 {
  background-position: 50% 20%;
}
.die.die-type-2.route-0{
  background-position: 0 30%;
}
.die.die-type-2.route-1{
  background-position: 50% 30%;
}
.die.die-type-2.route-2{
  background-position: 100% 30%;
}
.die.die-type-2.route-3{
  background-position: 0 40%;
}
.die.die-type-3.route-0{
  background-position: 50% 40%;
}
.die.die-type-3.route-1{
  background-position: 100% 40%;
}
.die.die-type-3.route-2{
  background-position: 0 50%;
}
.die.die-type-3.route-3{
  background-position: 50% 50%;
}
.die.die-type-3.route-4{
  background-position: 100% 50%;
}
.die.die-type-3.route-5{
  background-position: 0 60%;
}
.die.die-type-4.route-0{
  background-position: 50% 60%;
}
.die.die-type-4.route-1{
  background-position: 100% 60%;
}
.die.die-type-4.route-2{
  background-position: 0 70%;
}
.die.die-type-4.route-3{
  background-position: 50% 70%;
}
.die.die-type-4.route-4{
  background-position: 100% 70%;
}
.die.die-type-5.route-0{
  background-position: 0 80%;
}
.die.die-type-5.route-1{
  background-position: 50% 80%;
}
.die.die-type-5.route-2{
  background-position: 100% 80%;
}
.die.die-type-5.route-3{
  background-position: 0 90%;
}
.die.die-type-5.route-4{
  background-position: 50% 90%;
}
.die.die-type-5.route-5{
  background-position: 100% 90%;
}
.die.die-type-5.route-6{
  background-position: 0 100%;
}
.die.die-type-5.route-7{
  background-position: 50% 100%;
}

.field .route.route-type-0.route-0 {
  background-position: 50% 0;
}
.field .route.route-type-0.route-1 {
  background-position: 100% 0;
}
.field .route.route-type-0.route-2 {
  background-position: 0 0;
}
.field .route.route-type-0.route-3 {
  background-position: 50% 25%;
}
.field .route.route-type-0.route-4 {
  background-position: 100% 25%;
}
.field .route.route-type-0.route-5 {
  background-position: 0 25%;
}
.field .route.route-type-0.route-6 {
  background-position: 0 50%;
}
.field .route.route-type-0.route-7 {
  background-position: 100% 50%;
}
.field .route.route-type-0.route-8 {
  background-position: 50% 50%;
}

.special-routes {
  position: absolute;
  top: 1.71%;
  left: 4.86%;
  height: 8.38%;
  width: 100%;
}

.special-route {
  border-radius: 5px;
  height: 100%;
  width: 12.6%;
  display: inline-block;
  margin-right: 2%;
  background-size: cover;
  background-image: url(img/special_routes.png);
  opacity: 0.6;
}

.special-routes.active .special-route {
  opacity: 1;
}

.special-route.special-route-0 {
  background-position: 0 0;
}

.special-route.special-route-1 {
  background-position: 20% 0;
}

.special-route.special-route-2 {
  background-position: 40% 0;
}

.special-route.special-route-3 {
  background-position: 60% 0;
}

.special-route.special-route-4 {
  background-position: 80% 0;
}

.special-route.special-route-5 {
  background-position: 100% 0;
}

.field .route.route-type-1.route-0 {
  background-position: 0 75%;
}
.field .route.route-type-1.route-1 {
  background-position: 50% 75%;
}
.field .route.route-type-1.route-2 {
  background-position: 100% 75%;
}
.field .route.route-type-1.route-3 {
  background-position: 0 100%;
}
.field .route.route-type-1.route-4 {
  background-position: 50% 100%;
}
.field .route.route-type-1.route-5 {
  background-position: 100% 100%;
}
.field .route.route-type-1.route-6 {
  background-position: 0 50%;
}

.field .route.route-type-2.set,
.field .route.route-type-3.set,
.field .route.route-type-4.set,
.field .route.route-type-5.set {
  background-image: url('img/expansions_base.png');
  background-size: 500%;
}

.field .route.route-type-2.route-0 {
  background-position: 0 0;
}
.field .route.route-type-2.route-1 {
  background-position: 25% 0;
}
.field .route.route-type-2.route-2 {
  background-position: 50% 0;
}
.field .route.route-type-2.route-3 {
  background-position: 75% 0;
}
.field .route.route-type-3.route-0 {
  background-position: 100% 0;
}
.field .route.route-type-3.route-1 {
  background-position: 0 33.33%;
}
.field .route.route-type-3.route-2 {
  background-position: 25% 33.33%;
}
.field .route.route-type-3.route-3 {
  background-position: 50% 33.33%;
}
.field .route.route-type-3.route-4 {
  background-position: 75% 33.33%;
}
.field .route.route-type-3.route-5 {
  background-position: 100% 33.33%;
}
.field .route.route-type-3.route-6 {
  background-position: 0 66.67%;
}
.field .route.route-type-4.route-0 {
  background-position: 25% 66.67%;
}
.field .route.route-type-4.route-1 {
  background-position: 50% 66.67%;
}
.field .route.route-type-4.route-2 {
  background-position: 75% 66.67%;
}
.field .route.route-type-4.route-3 {
  background-position: 100% 66.67%;
}
.field .route.route-type-4.route-4 {
  background-position: 0 100%;
}
.field .route.route-type-4.route-5 {
  background-position: 75% 100%;
}
.field .route.route-type-5.route-0 {
  background-position: 25% 100%;
}

.field .route.current-route {
  filter: drop-shadow(1px 1px 2px #2b97c4) drop-shadow(2px 2px 2px #2b97c4);
}

.edition-red .field .route.current-route {
  filter: drop-shadow(1px 1px 2px #da673b) drop-shadow(2px 2px 2px #da673b);
}

.field .interactions {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.field .round-number {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 19%;
}

.field.interactive .interactions {
  display: inherit;
  z-index: 1;
}

.field .interactions .bgabutton {
  padding: 0 0;
  position: absolute;
  min-height: 50%;
  min-width: 50%;
  text-align: center;
  font-size: 3vh;
}
.field .interactions .bgabutton.left {
  left: -70%;
  top: 4%;
}
.field .interactions .bgabutton.right {
  right: -70%;
  top: 4%;
}
.field .interactions .bgabutton.flip {
  top: -85%;
  left: 25%;
}
.field .interactions .bgabutton.done {
  bottom: -80%;
  left: 25%;
}

.special-routes.active .special-route,
#dice.active .die {
  cursor: pointer;
}

.special-routes.active .special-route,
#dice.active .die {
  transform: none;
  transition: 0.3s ease-in-out;
}

.special-routes.active .special-route.selected,
#dice.active .die.selected {
  opacity: 1;
  transform: scale(1.1);
}

#dice .die.used {
  opacity: 0.5;
  transform: scale(0.9) !important;
  pointer-events: none;
}

.special-routes .special-route.used {
  pointer-events: none;
}

.special-routes .special-route.used .special-cross {
  display: block;
}

.special-route .special-cross{
  background-image: url('img/cross.png');
  height: 100%;
  background-size: cover;
  display: none;
}

.player-area .score {
  width: 100%;
  height: 4.19%;
  position: absolute;
  top: 21.14%;
  left: 0;
}

.player-area .score .score-part {  
  width: 5.71%;
  height: 100%;
  display: inline-block;
  padding-left: 6.6%;
  font-size: 2.5vh;
  text-align: center;
  vertical-align: bottom;
  padding-top: 0.7%;
}

.player-area .score .score-part.total {
  margin-left:  -0.5%;
  padding-left: 4.7%;
}

.player-area .score .score-part.exits {
  margin-left:  5.7%;
}

#active-player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#infrastructure{
  margin-left: 30px;
}

.mistake {
  background-image: url(img/mistake.png);
  width: 25%;
  height: 25%;
  background-size: cover;
  position: absolute;
  opacity: 0;
  transition: ease-in-out opacity 400ms;
}

.player-sheet.score-highlight-errors .mistake.active{
  opacity: 1;
}

.mistake.mistake-n {
  top: -34%;
  left: 38%;
}

.mistake.mistake-s {
  bottom: -34%;
  left: 38%;
}

.mistake.mistake-e {
  top: 40%;
  right: -34%;
}

.mistake.mistake-w {
  top: 40%;
  left: -34%;
}

.mistakes {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.last-meteor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url('img/expansions_base.png');
  background-size: 500%;
  background-position: 50% 100%;
  display: none;
}

.last-meteor.active {
  display: block;
}

.player-sheet.score-highlight-errors .mistakes{
  z-index: inherit;
}

#page-title #add_volcano {
  display: inline-flex;
  align-items: center;
}

.add-volcano-label-image {
  background-image: url('img/volcano_icon.png');
  height: 30px;
  width: 30px;
  display: inline-block;
  background-size: 110%;
  margin-right: 5px;
  margin-top: -5px;
  margin-bottom: -2px;
  margin-left: -5px;
}

.dice_tooltip {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dice_tooltip .die {
  margin-top: 0;
  width: 15%;
  height: 0;
  padding-top: 15%;
}

@media (max-width: 1416px) {
  #all-players.player-count-2{
    flex-direction: column;
    justify-content: inherit;
  }
}

@media (max-width: 979px){
  .player-sheet-wrapper {
    width: calc(70vh / 1.5);
  }
  
  .player-sheet-wrapper.idle{
    width: calc(72vh / 1.5);
  }
  
  .player-sheet {
    width: calc(70vh / 1.5);
    padding-top: 70vh;
  }

  #active-player {
    flex-direction: column;
  }

  #dice {
    flex-direction: row;
    justify-content: center;
    margin-left: 1vh;
  }

  #infrastructure {
    order: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
  }

  .die {
    height: 6vh;
    width: 6vh;
    margin-right: 1vh;
    margin-top: 0;
    border-radius: 0.4vh;
    filter: drop-shadow(1px 2px 2px black);
  }

  .player-area .score .score-part {
    font-size: 1.5vh;
    padding-top: 1.2%;
  }

  .player-area .score .score-part.total {
    margin-left: -1.5%;
  }

  .field .interactions .bgabutton {
    Font-size: 1.5vh;
  }

  #all-players.player-count-2{
    flex-direction: column;
    justify-content: inherit;
  }

  #round-display{
    display: block;
  }
}